<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    persistent
    :headers="headers"
  >
    <v-card class="pa-md-8 mx-lg-auto">
      <i
        class="fa-solid fa-circle-xmark d-flex justify-end mb-6 fa-xl"
        v-if="!dialog_EC"
        @click="close()"
        style="color: red"
      ></i>
      <v-app-bar color="red accent-4 white--text">
        <div>
          <h4>
            Equipo de Cómputo
            <i class="fa-solid fa-computer"></i>
          </h4>
        </div>
      </v-app-bar>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-container>
          <v-row>
            <v-col sm="6" md="12">
              <!-- Solicitante -->
              <v-text-field
                v-model="saveItems.idAplicante"
                :rules="id_applicantRules"
                label="Id del Solicitante"
                required
                filled
                color="red"
                @keypress="isNumber($event)"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="8"
              ></v-text-field>
              <v-text-field
                v-model="saveItems.nombreAplicante"
                label="Solicitante"
                filled
                color="red"
                required
                disabled
              ></v-text-field>
              <!-- Jefe -->
              <v-text-field
                v-model="saveItems.nombreAprobador"
                :rules="[(v) => !!v || 'Aprobador es requerida']"
                label="Aprobador (Director del Área)"
                filled
                color="red"
                required
              ></v-text-field>
              <!-- Estado de Equipo -->
              <v-select
                v-model="saveItems.idCatalogoEstadoEquipo"
                :items="idCatalogoEstadoEquipo"
                :item-text="'nombre'"
                :item-value="'idCatalogoEstadoEquipo'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Estado de Equipo"
                filled
                color="red"
                required
              ></v-select>
              <!-- Tipo de Asignación -->
              <v-select
                v-model="saveItems.idTipoAsignacion"
                :items="idTipoAsignacion"
                :item-text="'nombre'"
                :item-value="'idTipoAsignacion'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Tipo de Asignación"
                filled
                color="red"
                required
              ></v-select>
              <!-- Empleado -->
              <v-text-field
                v-model="saveItems.idEmpleado"
                :rules="id_employeeRules"
                label="Id Empleado"
                filled
                color="red"
                required
                @keypress="isNumber($event)"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="8"
              ></v-text-field>
              <v-text-field
                v-model="saveItems.nombreEmpleado"
                label="Nombre(s) del Empleado"
                filled
                color="red"
                disabled
                required
              ></v-text-field>
              <v-text-field
                v-model="saveItems.apellidoPEmpleado"
                label="Apellido Paterno del Empleado"
                filled
                color="red"
                disabled
                required
              ></v-text-field>
              <v-text-field
                v-model="saveItems.apellidoMEmpleado"
                label="Apellido Materno del Empleado"
                filled
                color="red"
                disabled
                required
              ></v-text-field>
              <v-text-field
                v-model="saveItems.mailEmpleado"
                label="Email del Empleado"
                :rules="emailRules"
                filled
                color="red"
                disabled
                required
              ></v-text-field>
              <!-- Área -->
              <v-select
                v-model="saveItems.idArea"
                :items="idArea"
                :item-text="'nombre'"
                :item-value="'idArea'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Área"
                filled
                color="red"
                required
              ></v-select>
              <!-- Ubicación -->
              <v-select
                v-model="saveItems.idCatalogoUbicacion"
                :items="idCatalogoUbicacion"
                :item-text="'nombre'"
                :item-value="'idCatalogoUbicacion'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Ubicación"
                filled
                required 
                
              ></v-select>
              <!-- Cargo -->
              <v-text-field
                v-model="saveItems.cargo"
                :rules="[(v) => !!v || 'Cargo es requerido']"
                label="Cargo"
                filled
                color="red"
                required
              ></v-text-field>
              <!-- Software -->
              <v-text-field
                v-model="saveItems.softwareInstalar"
                :rules="[(v) => !!v || 'Softwares son requeridos']"
                label="Software a Instalar"
                filled
                color="red"
                required
              ></v-text-field>
              <!-- Software Eslabón / Mizar  -->
              <h6>
                Software Eslabón / Mizar
                <i class="fa-solid fa-computer fa-beat"></i>
              </h6>
              <v-card class="d-flex justify-space-around mb-6" flat tile>
                <v-checkbox
                  v-model="saveItems.eslabon"
                  label="Eslabón"
                  color="red"
                  :value="true"
                  hide-details
                ></v-checkbox>
                <v-checkbox
                  v-model="saveItems.mizar"
                  label="Mizar"
                  color="red"
                  :value="true"
                  hide-details
                ></v-checkbox>
              </v-card>
              <!-- Software Mizar Modulos  -->
              <v-select
                v-model="MizarModulos_selected"
                :items="MizarModulos"
                :item-text="'nombre'"
                :item-value="'idCatalogoMizarModulos'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Mizar - Módulos"
                multiple
                filled
                color="red"
                required
                v-if="saveItems.mizar"
              ></v-select>
              <!-- Notas -->
              <v-textarea
                background-color="red lighten-5"
                :counter="200"
                :rules="[
                  (v) =>
                    (v && v.length <= 200) ||
                    'Debe contener menos de 200 carácteres',
                ]"
                v-model="saveItems.notas"
                filled
                color="red"
                name="input-7-4"
                label="Notas"
                no-resize
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
        <v-btn
          v-bind:disabled="!saveItems.softwareInstalar"
          color="success"
          class="mr-4"
          @click="save()"
        >
          Enviar
        </v-btn>
        <v-btn color="error" class="mr-4" @click="close()"> Cancelar </v-btn>
        <!-- <v-btn color="warning" @click="saveForm()"> Guardar </v-btn> -->
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    dialog: true,
    dialog_EC: "",
    maxNumbers: 8,
    idCatalogoEstadoEquipo: [],
    idTipoAsignacion: [],
    idArea: [],
    idCatalogoUbicacion: [],
    MizarModulos: [],
    MizarModulos_selected: [],
    headers: [
      {
        text: "Id",
        align: "start",
        sortable: false,
        value: "IdSolicitudFormEc",
        // value: "IdSolicitudFormPrueba",
      },
      // { text: "Id_Aplicante", value: "idAplicante" },
      // { text: "Acción", value: "actions", sortable: false },
    ],
    saveIndex: -1,
    saveItems: {
      idCatalogoTipoSolicitud: "1",
      idAplicante: "",
      nombreAplicante: "Prueba",
      nombreAprobador: "",
      idCatalogoEstadoEquipo: "",
      idTipoAsignacion: "",
      idEmpleado: "",
      nombreEmpleado: "Prueba",
      apellidoPEmpleado: "Prueba",
      apellidoMEmpleado: "Prueba",
      mailEmpleado: "Prueba@mail.com",
      idArea: "",
      idCatalogoUbicacion: "",
      cargo: "",
      softwareInstalar: "",
      eslabon: false,
      mizar: false,
      idCatalogoMizarModulos: "",
      notas: "",
      fecha: new Date().toISOString().slice(0, 10),
      estatus: true,
    },
    //Reglas para los Campos de Ids
    id_applicantRules: [
      (v) => !!v || "Id del Aplicante es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Aplicante debe tener menos de 8 carácteres",
    ],
    id_employeeRules: [
      (v) => !!v || "Id del Empleado es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Empleado debe tener menos de 8 carácteres",
    ],
    emailRules: [
      (v) => !!v || "Este campo es obligatorio",
      (v) => /.+@.+\..+/.test(v) || "E-mail inválido",
    ],
  }),

  methods: {
    //Función que sólo permite Números en un Text-Field
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    //Consumo de APIs para el llenado de los Selects
    getCatalogoEstadoEquipo() {
      let vue = this;
      vue.axios
        .get("api/CatalogoEstadoEquipo/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoEstadoEquipo = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoTipoAsignacion() {
      let vue = this;
      vue.axios
        .get("api/CatalogoTipoAsignacion/Get")
        .then((response) => {
          if (response.data.success) {
            this.idTipoAsignacion = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoArea() {
      let vue = this;
      vue.axios
        .get("api/CatalogoArea/Get")
        .then((response) => {
          if (response.data.success) {
            this.idArea = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoUbicacion() {
      let vue = this;
      vue.axios
        .get("api/CatalogoUbicacion/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoUbicacion = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoMizarModulo() {
      let vue = this;
      vue.axios
        .get("api/CatalogoMizarModulo/Get")
        .then((response) => {
          if (response.data.success) {
            this.MizarModulos = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    close() {
      this.dialog = false;
    },
    saveForm(){
      // id_applicant = saveItems.id_applicant;
      close();
      // vue.name_applicant= '',
      // vue.areas= [],
      // vue.name_boss= '',
      // vue.type_assignation= [],
      // vue.id_employee= '',
      // vue.name_employee= '',
      // vue.ap_employee= '',
      // vue.am_employee= '',
      // vue.mail_employee= '',
      // vue.positions= [],
      // vue.ubications= [],
      // vue.name_direct_boss= '',
      // vue.oracle_modules= [],
      // vue.notes= '',
    },
    //Inserción de Formulario a la BS a través de un API
    save() {
      try {
        var vue = this;
        vue.saveItems.idCatalogoMizarModulos = vue.MizarModulos_selected.join(',');
        // vue.$store.dispatch("setIsBusy", true);
        if (vue.saveIndex > -1) {
          vue.saveData(vue.saveItems, 0, vue.saveIndex);
        } else {
          vue.saveData(vue.saveItems, 1, vue.saveIndex);
        }
        vue.close();
      } catch (e) {
        // vue.$store.dispatch("setIsBusy", false);
        // this.$root.Mensaje(e.message, "error");
        console.log(e);
      }
    },
    saveData(row) {
      var vue = this;
      var obj = row;
      vue.axios
        // .post("api/SolicitudFormPrueba/save", obj)
        .post("api/SolicitudFormEc/save", obj)
        .then((r) => {
          console.log(r);
          // if (r.data.success) {
          //   // vue.$store.dispatch("setIsBusy", false);
          //   // vue.$root.Mensaje(r.data.message, "success");
          //   var newItem = r.data.data;
          //   if (n == 1) {
          //     console.log(newItem);
          //     // vue.listObject.push(newItem);
          //   }
          //   // else {
          //   //   Object.assign(vue.listObject[indice], newItem);
          //   // }
          // } else {
          //   // vue.$store.dispatch("setIsBusy", false);
          //   // vue.$root.Mensaje(r.data.message, "error");
          // }
        })
        .catch((e) => {
          // vue.$store.dispatch("setIsBusy", false);
          // this.$root.Mensaje(e.message, "error");
          console.log(e);
        });
    },
     deleteItem(item) {
      this.editedIndex = this.listObject.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      try {
        var me = this;
        me.$store.dispatch("setIsBusy", true);
        var row = me.listObject[me.editedIndex];

        var id = row.idSolicitudFormEc;

        me.axios
          .post("api/SolicitudFormEc/delete?id=" + id)
          .then((r) => {
            if (r.data.success) {
              me.$store.dispatch("setIsBusy", false);
              me.$root.Mensaje(r.data.message, "success");
            } else {
              me.$store.dispatch("setIsBusy", false);
              me.$root.Mensaje(r.data.message, "error");
            }
          })
          .catch((e) => {
            me.$store.dispatch("setIsBusy", false);
            this.$root.Mensaje(e.message, "error");
            console.log(e);
          });
        console.log(this.editedIndex);
        var el = this.listObject[this.editedIndex];
        if (el.estatus == true) el.estatus = false;
        else el.estatus = true;

        this.closeDelete();
      } catch (e) {
        this.$root.Mensaje(e.message, "error");
        me.$store.dispatch("setIsBusy", false);
        console.log(e);
      }
    },
  },
  mounted() {
    //Llamado de las APIs que llenan a los Selects en el LoadPage
    this.getCatalogoEstadoEquipo();
    this.getCatalogoTipoAsignacion();
    this.getCatalogoArea();
    this.getCatalogoUbicacion();
    this.getCatalogoMizarModulo();
    // this.getCatalogoEslabonMizar();
  },
};
</script>

<style scoped></style>
