<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    persistent
  >
    <v-card class="pa-md-8 mx-lg-auto">
      <i
        class="fa-solid fa-circle-xmark d-flex justify-end mb-6 fa-xl"
        v-if="!dialog_Crs"
        @click="close()"
        style="color: red"
      ></i>
      <v-app-bar color="red accent-4 white--text">
        <h4>
          Solicitud de Correo Electrónico <i class="fa-solid fa-envelope"></i>
        </h4>
      </v-app-bar>
      <!-- <p><span v-html="bodyText"></span></p> -->
      <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="12">
            <!-- Tipo de Movimiento -->
            <h6>
              Tipo de Movimiento
              <i class="fa-solid fa-envelopes-bulk fa-beat"></i>
            </h6>
            <v-card class="d-flex justify-space-around flex-wrap" flat tile
              ><br />
              <v-checkbox
                v-model="saveItems.alta"
                label="Alta"
                color="red"
                :value="true"
                hide-details
              ></v-checkbox>
              <v-checkbox
                v-model="saveItems.baja"
                label="Baja"
                color="red"
                :value="true"
                hide-details
              ></v-checkbox>
              <v-checkbox
                v-model="saveItems.redireccionamiento"
                label="Re-Direccionamiento"
                color="red"
                :value="true"
                hide-details
              ></v-checkbox>
              <v-checkbox
                v-model="saveItems.nombre"
                label="Cambio de Nombre"
                color="red"
                :value="true"
                hide-details
              ></v-checkbox>
              <v-checkbox
                v-model="saveItems.correo"
                label="Cambio de Contraseña"
                color="red"
                :value="true"
                hide-details
              ></v-checkbox>
            </v-card><br />
            <!-- <p><span v-html="bodyText"></span></p> -->
            <!-- Solicitante -->
            <v-text-field
              v-model="saveItems.idAplicante"
              :rules="id_applicantRules"
              label="Id del Solicitante"
              required
              filled
              color="red"
              @keypress="isNumber($event)"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="8"
            ></v-text-field>
            <v-text-field
              v-model="saveItems.nombreAplicante"
              label="Solicitante"
              filled
              color="red"
              required
              disabled
            ></v-text-field>
            <!-- Jefe -->
            <v-text-field
              v-model="saveItems.nombreAprobador"
              :rules="[(v) => !!v || 'Aprobador es requerida']"
              label="Aprobador (Director del Área)"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Empleado -->
            <v-text-field
              v-model="saveItems.idEmpleado"
              :rules="id_employeeRules"
              label="Id Empleado"
              filled
              color="red"
              required
              @keypress="isNumber($event)"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="8"
            ></v-text-field>
            <v-text-field
              v-model="saveItems.nombreEmpleado"
              label="Nombre(s) del Empleado"
              filled
              color="red"
              disabled
              required
            ></v-text-field>
            <v-text-field
              v-model="saveItems.apellidoPEmpleado"
              label="Apellido Paterno del Empleado"
              filled
              color="red"
              disabled
              required
            ></v-text-field>
            <v-text-field
              v-model="saveItems.apellidoMEmpleado"
              label="Apellido Materno del Empleado"
              filled
              color="red"
              disabled
              required
            ></v-text-field>
            <v-text-field
              v-model="saveItems.mailEmpleado"
              label="Email del Empleado"
              filled
              color="red"
              disabled
              required
            ></v-text-field>
            <!-- Área -->
            <v-select
              v-model="saveItems.idArea"
              :items="idArea"
              :item-text="'nombre'"
              :item-value="'idArea'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Área"
              filled
              color="red"
              required
            ></v-select>
            <!-- Línea de Negocio -->
            <v-text-field
              v-model="saveItems.lineaNegocio"
              :rules="[(v) => !!v || 'Línea es requerido']"
              label="Línea de Negocio"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- UEN -->
            <v-text-field
              v-model="saveItems.uEN"
              :rules="[(v) => !!v || 'UEN es requerido']"
              label="UEN"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Puesto -->
            <v-select
              v-model="saveItems.idCatalogoPosicion"
              :items="idCatalogoPosicion"
              :item-text="'nombre'"
              :item-value="'idCatalogoPosicion'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Puesto"
              filled
              color="red"
              required
            ></v-select>
            <!-- Administrativo -->
            <v-select
              v-model="saveItems.idCatalogoAdmin"
              :items="idCatalogoAdmin"
              :item-text="'nombre'"
              :item-value="'idCatalogoAdmin'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Administrativo"
              filled
              color="red"
              required
            ></v-select>
            <!-- Ubicación -->
            <v-select
              v-model="saveItems.idCatalogoUbicacion"
              :items="idCatalogoUbicacion"
              :item-text="'nombre'"
              :item-value="'idCatalogoUbicacion'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Ubicación"
              filled
              color="red"
              required
            ></v-select>
            <!-- Región -->
            <v-text-field
              v-model="saveItems.region"
              :rules="[(v) => !!v || 'Región es requerido']"
              label="Región"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Plaza Nueva -->
            <v-select
              v-model="saveItems.idCatalogoNuevaPlaza"
              :items="idCatalogoNuevaPlaza"
              :item-text="'nombre'"
              :item-value="'idCatalogoNuevaPlaza'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Plaza Nueva"
              filled
              color="red"
              required
            ></v-select>
            <!-- A quien reemplaza -->
            <v-text-field
              v-model="saveItems.reemplazo"
              :rules="[(v) => !!v || 'Reemplazo es requerido']"
              label="A quien reemplaza"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Alta -->
            <v-text-field
              v-model="saveItems.nuevoCorreo"
              :rules="emailRules"
              label="Alta - Sugerencia de Correo"
              filled
              color="red"
              required
              v-if="saveItems.alta"
            ></v-text-field>
            <!-- Alta - Correo con Licencia -->
            <v-card
              v-if="saveItems.alta"
              class="d-flex justify-space-around mb-2"
              flat
              tile
            >
              <h6>
                Correo con Licencia
                <i class="fa-solid fa-envelope fa-beat"></i>
              </h6>
              <v-checkbox
                v-model="saveItems.tipo"
                label="Sí"
                color="red"
                hide-details
              ></v-checkbox>
              <!-- <v-checkbox
                v-model="saveItems.tipo"
                label="No"
                color="red"
                hide-details
              ></v-checkbox> -->
            </v-card>
            <!-- Tipo de Licencia -->
            <v-select
              v-model="saveItems.idCatalogoLicenciasOffice"
              :items="idCatalogoLicenciasOffice"
              :item-text="'nombre'"
              :item-value="'idCatalogoLicenciasOffice'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Tipo de Licencia"
              filled
              color="red"
              required
              v-if="saveItems.tipo"
            ></v-select>
            <!-- Baja - Correo Actual -->
            <v-text-field
              v-model="saveItems.bajaCorreo"
              :rules="emailRules"
              label="Baja - Correo Actual"
              filled
              color="red"
              required
              v-if="saveItems.baja"
            ></v-text-field>
            <!-- Baja - Buzón compartido -->
            <v-text-field
              v-model="saveItems.buzonCompartido"
              :rules="emailRules"
              label="Baja - Buzón compartido"
              filled
              color="red"
              required
              v-if="saveItems.baja"
            ></v-text-field>
            <!-- Cambio de Nombre - Nombres y Apellidos -->
            <v-text-field
              v-model="saveItems.cambioNombre"
              :rules="[(v) => !!v || 'Cambio de nombre es requerido']"
              label="Cambio de Nombre - Nombres y Apellidos"
              filled
              color="red"
              required
              v-if="saveItems.nombre"
            ></v-text-field>
            <!-- Cambio de Nombre - Sugerencia de Correo -->
            <v-text-field
              v-model="saveItems.cambioCorreo"
              :rules="emailRules"
              label="Cambio de Nombre - Sugerencia de Correo"
              filled
              color="red"
              required
              v-if="saveItems.correo"
            ></v-text-field>
            <!-- Dominio -->
            <v-select
              v-model="saveItems.idCatalogoDominio"
              :items="idCatalogoDominio"
              :item-text="'nombre'"
              :item-value="'idCatalogoDominio'"
              :rules="[(v) => !!v || 'Campo es requerido']"
              label="Dominio"
              filled
              color="red"
              required
            ></v-select>
            <!-- Notas -->
            <v-textarea
              background-color="red lighten-5"
              :counter="200"
              :rules="[
                (v) =>
                  (v && v.length <= 200) ||
                  'Debe contener menos de 200 carácteres',
              ]"
              v-model="saveItems.notas"
              filled
              color="red"
              name="input-7-4"
              label="Notas"
              no-resize
            ></v-textarea>
          </v-col>
        </v-row>
      </v-container>
      <v-btn
        v-bind:disabled="!saveItems.reemplazo"
        color="success"
        class="mr-4"
        @click="save()"
      >
        Enviar
      </v-btn>
      <v-btn color="error" class="mr-4" @click="close()"> Cancelar </v-btn>
      <!-- <v-btn color="warning"> Guardar </v-btn> -->
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: true,
    dialog_Crs: "",
    idArea: [],
    idCatalogoPosicion: [],
    idCatalogoAdmin: [],
    idCatalogoUbicacion: [],
    idCatalogoNuevaPlaza: [],
    idCatalogoLicenciasOffice: [],
    idCatalogoDominio: [],
    headers: [
      {
        text: "Id",
        align: "start",
        sortable: false,
        value: "IdSolicitudFormCorreo",
        // value: "IdSolicitudFormPrueba",
      },
      // { text: "Id_Aplicante", value: "idAplicante" },
      // { text: "Acción", value: "actions", sortable: false },
    ],
    saveIndex: -1,
    saveItems: {
      idCatalogoTipoSolicitud: "4",
      alta: false,
      tipo: false,
      baja: false,
      redireccionamiento: false,
      nombre: false,
      correo: false,
      idAplicante: "",
      nombreAplicante: "Prueba",
      nombreAprobador: "",
      idEmpleado: "",
      nombreEmpleado: "Prueba",
      apellidoPEmpleado: "Prueba",
      apellidoMEmpleado: "Prueba",
      mailEmpleado: "prueba@mail.com",
      idArea: "",
      lineaNegocio: "",
      uEN: "",
      idCatalogoPosicion: "",
      idCatalogoAdmin: "",
      idCatalogoUbicacion: "",
      region: "",
      idCatalogoNuevaPlaza: "",
      reemplazo: "",
      nuevoCorreo: "",
      idCatalogoLicenciasOffice: "",
      bajaCorreo: "",
      buzonCompartido: "",
      cambioNombre: "",
      cambioCorreo: "",
      idCatalogoDominio: 21,
      notas: "",
      fecha: new Date().toISOString().slice(0, 10),
      estatus: true,
    },

    id_applicantRules: [
      (v) => !!v || "Id del Aplicante es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Aplicante debe tener menos de 8 carácteres",
    ],
    id_employeeRules: [
      (v) => !!v || "Id del Empleado es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Empleado debe tener menos de 8 carácteres",
    ],
    emailRules: [
      (v) => !!v || "Correo es requerido",
      (v) => /.+@.+\..+/.test(v) || "E-mail inválido",
    ],
  }),

  methods: {
    close() {
      this.dialog = false;
    },
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    getCatalogoArea() {
      let vue = this;
      vue.axios
        .get("api/CatalogoArea/Get")
        .then((response) => {
          if (response.data.success) {
            this.idArea = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoUbicacion() {
      let vue = this;
      vue.axios
        .get("api/CatalogoUbicacion/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoUbicacion = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoLicenciasOffice() {
      let vue = this;
      vue.axios
        .get("api/CatalogoLicenciasOffice/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoLicenciasOffice = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoPosicion() {
      let vue = this;
      vue.axios
        .get("api/CatalogoPosicion/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoPosicion = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoNuevaPlaza() {
      let vue = this;
      vue.axios
        .get("api/CatalogoNuevaPlaza/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoNuevaPlaza = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoAdmin() {
      let vue = this;
      vue.axios
        .get("api/CatalogoAdmin/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoAdmin = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoDominio() {
      let vue = this;
      vue.axios
        .get("api/CatalogoDominio/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoDominio = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    save() {
      try {
        var vue = this;
        // vue.$store.dispatch("setIsBusy", true);
        if (vue.saveIndex > -1) {
          vue.saveData(vue.saveItems, 0, vue.saveIndex);
        } else {
          vue.saveData(vue.saveItems, 1, vue.saveIndex);
        }
        vue.close();
      } catch (e) {
        // vue.$store.dispatch("setIsBusy", false);
        // this.$root.Mensaje(e.message, "error");
        console.log(e);
      }
    },
    saveData(row, n) {
      var vue = this;
      var obj = row;
      vue.axios
        .post("api/SolicitudFormCorreo/save", obj)
        .then((r) => {
          if (r.data.success) {
            // vue.$store.dispatch("setIsBusy", false);
            // vue.$root.Mensaje(r.data.message, "success");
            var newItem = r.data.data;
            if (n == 1) {
              console.log(newItem);
              // vue.listObject.push(newItem);
            }
            // else {
            //   Object.assign(vue.listObject[indice], newItem);
            // }
          } else {
            // vue.$store.dispatch("setIsBusy", false);
            // vue.$root.Mensaje(r.data.message, "error");
          }
        })
        .catch((e) => {
          // vue.$store.dispatch("setIsBusy", false);
          // this.$root.Mensaje(e.message, "error");
          console.log(e);
        });
    },
     deleteItem(item) {
      this.editedIndex = this.listObject.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      try {
        var me = this;
        me.$store.dispatch("setIsBusy", true);
        var row = me.listObject[me.editedIndex];

        var id = row.idSolicitudFormCorreo;

        me.axios
          .post("api/SolicitudFormCorreo/delete?id=" + id)
          .then((r) => {
            if (r.data.success) {
              me.$store.dispatch("setIsBusy", false);
              me.$root.Mensaje(r.data.message, "success");
            } else {
              me.$store.dispatch("setIsBusy", false);
              me.$root.Mensaje(r.data.message, "error");
            }
          })
          .catch((e) => {
            me.$store.dispatch("setIsBusy", false);
            this.$root.Mensaje(e.message, "error");
            console.log(e);
          });
        console.log(this.editedIndex);
        var el = this.listObject[this.editedIndex];
        if (el.estatus == true) el.estatus = false;
        else el.estatus = true;

        this.closeDelete();
      } catch (e) {
        this.$root.Mensaje(e.message, "error");
        me.$store.dispatch("setIsBusy", false);
        console.log(e);
      }
    },
  },
  mounted() {
    this.getCatalogoArea();
    this.getCatalogoUbicacion();
    this.getCatalogoLicenciasOffice();
    this.getCatalogoPosicion();
    this.getCatalogoNuevaPlaza();
    this.getCatalogoAdmin();
    this.getCatalogoDominio();
  },
};
</script>

<style lang="scss" scoped></style>
