<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    persistent
  >
    <v-card class="pa-md-8 mx-lg-auto">
      <i
        class="fa-solid fa-circle-xmark d-flex justify-end mb-6 fa-xl"
        v-if="!dialog_Ora"
        @click="close()"
        style="color: red"
      ></i>
      <v-app-bar color="red accent-4 white--text">
        <h4>
          Oracle
          <i class="fa-solid fa-users"></i>
        </h4>
      </v-app-bar>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="12">
            <!-- Empleado -->
            <v-text-field
              v-model="idEmpleado"
              :rules="id_employeeRules"
              label="Id Empleado"
              filled
              color="red"
              required
            ></v-text-field>
            <v-text-field
              v-model="nombreEmpleado"
              label="Nombre completo del Empleado"
              :rules="[(v) => !!v || 'Nombre del Empleado es requerido']"
              filled
              color="red"
              required
            ></v-text-field>
            <v-text-field
              v-model="correoEmpleado"
              :rules="emailRules"
              label="Email del Empleado"
              filled
              color="red"
              required
            ></v-text-field>
            <v-text-field
              v-model="rfcEmpleado"
              label="RFC"
              :rules="[(v) => !!v || 'RFC del Empleado es requerido']"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Cuenta Bancaria -->
            <v-text-field
              v-model="cuentaBancaria"
              :rules="[(v) => !!v || 'Cuenta Bancaria es requerida']"
              label="Cuenta Bancaria"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Clabe -->
            <v-text-field
              v-model="clabe"
              :rules="[(v) => !!v || 'Clabe es requerida']"
              label="Clabe"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Bancos -->
            <v-select
              v-model="bancos"
              :items="Bancos"
              :item-text="'nombre'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Bancos"
              filled
              color="red"
              required
            ></v-select>
            <!-- BU -->
            <h6>BU</h6>
            <v-card class="d-flex justify-space-around mb-6" flat tile>
              <v-radio-group v-model="radioBU" row>
                <v-radio
                  label="BU 1"
                  value="radio-1"
                  color="red"
                  hide-details
                ></v-radio>
                <v-radio
                  label="BU 2"
                  color="red"
                  value="radio-2"
                  hide-details
                ></v-radio>
                <v-radio
                  label="BU 3"
                  color="red"
                  value="radio-3"
                  hide-details
                ></v-radio>
              </v-radio-group>
            </v-card>
            <!-- Oracle Modulos -->
            <v-select
              v-model="oracleModulos"
              :items="OracleModulos"
              :item-text="'nombre'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Oracle Módulos"
              filled
              color="red"
              required
            ></v-select>
            <!-- Nuevo -->
            <h6>Nuevo</h6>
            <!-- Autorización -->
            <v-text-field
              v-model="autorizacion"
              :rules="[(v) => !!v || 'Autorización es requerido']"
              label="Autorización"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Sustitución -->
            <h6>Sustitución</h6>
            <!-- Nombre -->
            <v-text-field
              v-model="nombreSustitucion"
              :rules="[(v) => !!v || 'Nombre es requerido']"
              label="Nombre"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Correo -->
            <v-text-field
              v-model="correoSustitucion"
              :rules="[(v) => !!v || 'Correo es requerido']"
              label="Correo"
              filled
              color="red"
              required
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
      <v-btn :disabled="!valid" color="success" class="mr-4"> Enviar </v-btn>
      <v-btn color="error" class="mr-4" @click="close()"> Cancelar </v-btn>
      <!-- <v-btn color="warning"> Guardar </v-btn> -->
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: true,
    dialog_Ora: "",

    idCatalogoTipoSolicitud: "7",
    id_applicant: "",
    name_applicant: "",
    areas: [],
    name_boss: "",
    type_assignation: [],
    id_employee: "",
    name_employee: "",
    ap_employee: "",
    am_employee: "",
    mail_employee: "",
    positions: [],
    ubications: [],
    name_direct_boss: "",
    oracle_modules: [],
    notes: "",
    // id_applicant: "",
    id_applicantRules: [
      (v) => !!v || "Id del Aplicante es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Aplicante debe tener menos de 8 carácteres",
    ],
    id_employeeRules: [
      (v) => !!v || "Id del Empleado es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Empleado debe tener menos de 8 carácteres",
    ],
    emailRules: [
      (v) => !!v || "Este campo es obligatorio",
      (v) => /.+@.+\..+/.test(v) || "E-mail inválido",
    ],
  }),

  methods: {
    close() {
      this.dialog = false;
    },
    getCatalogoArea() {
      let vue = this;
      vue.axios
        .get("api/CatalogoArea/Get")
        .then((response) => {
          if (response.data.success) {
            this.areas = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoUbicacion() {
      let vue = this;
      vue.axios
        .get("api/CatalogoUbicacion/Get")
        .then((response) => {
          if (response.data.success) {
            this.ubications = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoOracleModulo() {
      let vue = this;
      vue.axios
        .get("api/CatalogoOracleModulo/Get")
        .then((response) => {
          if (response.data.success) {
            this.oracle_modules = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    // validate() {
    //   this.$refs.form.validate();
    // },
    // reset() {
    //   this.$refs.form.reset();
    // },
    // resetValidation() {
    //   this.$refs.form.resetValidation();
    // },
  },
  mounted() {
    this.getCatalogoArea();
    this.getCatalogoUbicacion();
    this.getCatalogoOracleModulo();
  },
};
</script>

<style lang="scss" scoped></style>
