<template>
  <v-footer color="#eee8cd" padless>
    <v-card width="100%" class="red accent-4 white--text text-xs-center">
      <v-col class="text-center" style="font-size: 15px; color: #fff">
        {{ new Date().getFullYear() }} — <strong>Solicitudes TI GC</strong>
      </v-col>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: "app_Footer",
};
</script>

<style scoped>
#footer {
  position: sticky;
  bottom: 0;
}
</style>
