<!-- Solicitudes TI NetCore/Vue - Project - Version  3.0 - Last Updated by: Zan - 3/8/22 -->
<template>
  <nav>
    <v-app-bar color="grey lighten-4">
      <!-- <v-img
        alt="GC Logo"
        class="shrink mr-2"
        contain
        src="../assets/grupocosmic.png"
        width="200"
      > 
      </v-img> -->
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light" style="font-size: 25px"
          >Solicitudes
        </span>
        <span style="font-size: 25px">TI</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn class="success">
        <span><i class="fa-solid fa-user"></i> Iniciar Sesión </span>
      </v-btn>
    </v-app-bar>

    <!-- Tab -->
    <v-app-bar background-color="#D50000" color="#D50000">
      <v-app-bar-nav-icon
        style="color: #fff"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <v-toolbar-title id="v-tab" style="font-size: 25px; color: #fff">
        Documentos
      </v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer
      app
      v-model="drawer"
      temporary
      color="rgb(213 0 0 / 90%)"
      :width="310"
    >
      <v-list>
        <v-flex>
          <v-list-item>
            <v-list-item-content>
              <h1 class="white--text mt-2 headline">
                <v-icon color="#ff9999">mdi-file</v-icon
                ><strong> Nueva Solicitud </strong>
              </h1>
            </v-list-item-content>
          </v-list-item>
        </v-flex>
      </v-list>
      <v-divider color="#210000"></v-divider>
      <v-layout mt-4 column align-center>
        <v-flex>
          <h5 class="white--text">
            Solicitud de Equipo
            <i class="fa-solid fa-circle-plus fa-sm fa-beat"></i>
          </h5>
          <v-list nav dense>
            <v-list-item-group v-model="selectedItem" color="#ff9999">
              <v-list-item
                v-for="(item_1, index_1) in sol_eqcom"
                :key="index_1"
                @click="menuActionClick(item_1.action)"
              >
                <v-list-item-icon>
                  <v-icon v-text="item_1.icon" color="#ff9999"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title
                    class="white--text"
                    v-text="item_1.text"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider color="#210000"></v-divider>
              <h5 class="white--text">
                <!-- <v-icon color="#660000">mdi-file-plus</v-icon> -->
                Solicitud de Correo
                <i class="fa-solid fa-circle-plus fa-sm fa-beat"></i>
              </h5>
              <v-list-item
                v-for="(item_2, index_2) in sol_correo"
                :key="'item_2-' + index_2"
                @click="menuActionClick(item_2.action)"
              >
                <v-list-item-icon>
                  <v-icon v-text="item_2.icon" color="#ff9999"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title
                    class="white--text"
                    v-text="item_2.text"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider color="#210000"></v-divider>
              <h5 class="white--text">
                <!-- <v-icon color="#660000">mdi-file-plus</v-icon> -->
                Solicitud de Acceso
                <i class="fa-solid fa-circle-plus fa-sm fa-beat"></i>
              </h5>
              <v-list-item
                v-for="(item_3, index_3) in sol_acceso"
                :key="'item_3-' + index_3"
                @click="menuActionClick(item_3.action)"
              >
                <v-list-item-icon>
                  <v-icon v-text="item_3.icon" color="#ff9999"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title
                    class="white--text"
                    v-text="item_3.text"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-flex>
      </v-layout>
    </v-navigation-drawer>

    <template>
      <v-data-table
        dense
        :headers="headers"
        :items="data_table"
        sort-by="idSolicitudesTable"
        class="elevation-1"
        ><template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title style="color=#D50000"
              >Solicitudes
              <i class="fa-regular fa-file fa-lg" style="font-size: 25px"></i
            ></v-toolbar-title>
          </v-toolbar>
        </template>
        <template>
          <v-icon small class="mr-2" @click="editItem(item)"> mdi-eye </v-icon>
          <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
      </v-data-table>
      <template>
        <v-icon small @click="deleteItem(item)"> mdi-eye </v-icon>
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-delete </v-icon>
      </template>
    </template>

    <!-- Dialogs -->
    <v-dialog v-model="dialog_EC" v-if="dialog_EC" hide-overlay>
      <app_Form_EC></app_Form_EC>
      <v-card> </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_Cel" width="600" v-if="dialog_Cel" hide-overlay>
      <v-card>
        <app_Form_Cel></app_Form_Cel>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_Ex" width="600" v-if="dialog_Ex" hide-overlay>
      <v-card>
        <app_Form_Ex></app_Form_Ex>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_Crs" width="600" v-if="dialog_Crs" hide-overlay>
      <v-card>
        <app_Form_Crs></app_Form_Crs>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_EsMz" width="600" v-if="dialog_EsMz" hide-overlay>
      <v-card>
        <app_Form_EsMz></app_Form_EsMz>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_Sf" width="600" v-if="dialog_Sf" hide-overlay>
      <v-card>
        <app_Form_SF></app_Form_SF>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_Ora" width="600" v-if="dialog_Ora" hide-overlay>
      <v-card>
        <app_Form_Ora></app_Form_Ora>
      </v-card>
    </v-dialog>
  </nav>
</template>

<script>
import app_Form_EC from ".//app_Form_SE_EC.vue";
import app_Form_Cel from ".//app_Form_SE_Cel.vue";
import app_Form_Ex from ".//app_Form_SE_Ex.vue";
import app_Form_Crs from ".//app_Form_SE_Correo.vue";
import app_Form_EsMz from ".//app_Form_SE_EsMz.vue";
import app_Form_SF from ".//app_Form_SA_SF.vue";
import app_Form_Ora from "./app_Form_SA_Ora.vue";

export default {
  name: "app_Navbar",
  components: {
    app_Form_EC,
    app_Form_Cel,
    app_Form_Ex,
    app_Form_Crs,
    app_Form_EsMz,
    app_Form_SF,
    app_Form_Ora,
  },
  data() {
    return {
      drawer: false,
      dialog_EC: false,
      dialog_Cel: false,
      dialog_Ex: false,
      dialog_Crs: false,
      dialog_EsMz: false,
      dialog_Sf: false,
      dialog_Ora: false,
      headers: [
        {
          text: "Formato",
          align: "start",
          sortable: false,
          value: "formatoData",
        },
        { text: "Estatus", value: "estatusData", sortable: false },
        { text: "F. Creación", value: "creacionData", sortable: false },
        { text: "F. Autorización", value: "autorizacionData", sortable: false },
        { text: "F. Cierre", value: "cierreData", sortable: true },
        { text: "Acciones", value: "accionesData", sortable: false },
      ],
      items_list: [],
      selectedItem: -1,
      sol_eqcom: [
        {
          text: "Equipo de Cómputo",
          icon: "mdi-desktop-classic",
          action: "dialog_EC",
        },
        {
          text: "Celular con Plan Mensual",
          icon: "mdi-tablet-android",
          action: "dialog_Cel",
        },
        { text: "Extensión", icon: "mdi-phone-in-talk", action: "dialog_Ex" },
      ],
      sol_correo: [
        {
          text: "Solicitud de Correo Electrónico",
          icon: "mdi-email-outline",
          action: "dialog_Crs",
        },
      ],
      sol_acceso: [
        {
          text: "Eslabón y Mizar",
          icon: "mdi-account-box-outline",
          action: "dialog_EsMz",
        },
        {
          text: "Success Factor",
          icon: "mdi-account-box-outline",
          action: "dialog_Sf",
        },
        {
          text: "Oracle",
          icon: "mdi-account-box-outline",
          action: "dialog_Ora",
        },
      ],
      data_table: [],
    };
  },
  methods: {
    menuActionClick(action) {
      if (action === "dialog_EC") {
        this.dialog_EC = true;
        this.dialog_Cel = false;
        this.dialog_Ex = false;
        this.dialog_Crs = false;
        this.dialog_EsMz = false;
        this.dialog_Sf = false;
        this.dialog_Ora = false;
      } else if (action === "dialog_Cel") {
        this.dialog_Cel = true;
        this.dialog_EC = false;
        this.dialog_Ex = false;
        this.dialog_Crs = false;
        this.dialog_EsMz = false;
        this.dialog_Sf = false;
        this.dialog_Ora = false;
      } else if (action === "dialog_Ex") {
        this.dialog_Ex = true;
        this.dialog_Cel = false;
        this.dialog_EC = false;
        this.dialog_Crs = false;
        this.dialog_EsMz = false;
        this.dialog_Sf = false;
        this.dialog_Ora = false;
      } else if (action === "dialog_Crs") {
        this.dialog_Crs = true;
        this.dialog_Ex = false;
        this.dialog_Cel = false;
        this.dialog_EC = false;
        this.dialog_EsMz = false;
        this.dialog_Sf = false;
        this.dialog_Ora = false;
      } else if (action === "dialog_EsMz") {
        this.dialog_EsMz = true;
        this.dialog_Crs = false;
        this.dialog_Ex = false;
        this.dialog_Cel = false;
        this.dialog_EC = false;
        this.dialog_Sf = false;
        this.dialog_Ora = false;
      } else if (action === "dialog_Sf") {
        this.dialog_Sf = true;
        this.dialog_EsMz = false;
        this.dialog_Crs = false;
        this.dialog_Ex = false;
        this.dialog_Cel = false;
        this.dialog_Ora = false;
        this.dialog_EC = false;
      } else if (action === "dialog_Ora") {
        this.dialog_Ora = true;
        this.dialog_Sf = false;
        this.dialog_EsMz = false;
        this.dialog_Crs = false;
        this.dialog_Ex = false;
        this.dialog_Cel = false;
        this.dialog_EC = false;
      }
    },
    fillDataTable() {
      let me = this;

      // me.$store.dispatch("setIsBusy", true);
      // var CatalogoEstadoEquipo = this.$route.params.idGrupoCategoria;
      me.axios
        .get("api/CatalogoEstadoEquipo/Get")
        .then((r) => {
          if (r.data.success) {
            me.data_table = r.data.data;
            // me.$store.dispatch("setIsBusy", false);
          }
        })
        .catch((e) => {
          // me.$store.dispatch("setIsBusy", false);
          // this.$root.Mensaje(e.message, "error");
          console.log(e);
        });
    },
  },
  mounted() {
      this.fillDataTable();
    },
};
</script>

<style scoped>
</style>
