<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    persistent
  >
    <v-card class="pa-md-8 mx-lg-auto">
      <i
        class="fa-solid fa-circle-xmark d-flex justify-end mb-6 fa-xl"
        v-if="!dialog_Cel"
        @click="close()"
        style="color: red"
      ></i>
      <v-app-bar color="red accent-4 white--text">
        <h4>
          Celular con Plan Mensual <i class="fa-solid fa-mobile-screen"></i>
        </h4>
      </v-app-bar>
      <v-container>
        <v-row>
          <v-col>
            <!-- Solicitante -->
            <v-text-field
                v-model="saveItems.idAplicante"
                :rules="id_applicantRules"
                label="Id del Solicitante"
                required
                filled
                color="red"
                @keypress="isNumber($event)"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="8"
              ></v-text-field>
              <v-text-field
                v-model="saveItems.nombreAplicante"
                label="Solicitante"
                filled
                color="red"
                required
                disabled
              ></v-text-field>
              <!-- Jefe -->
              <v-text-field
                v-model="saveItems.nombreAprobador"
                :rules="[(v) => !!v || 'Aprobador es requerida']"
                label="Aprobador (Director del Área)"
                filled
                color="red"
                required
              ></v-text-field>
              <!-- Estado de Equipo -->
              <v-select
                v-model="saveItems.idCatalogoEstadoEquipo"
                :items="idCatalogoEstadoEquipo"
                :item-text="'nombre'"
                :item-value="'idCatalogoEstadoEquipo'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Estado de Equipo"
                filled
                color="red"
                required
              ></v-select>
              <!-- Tipo de Asignación -->
              <v-select
                v-model="saveItems.idTipoAsignacion"
                :items="idTipoAsignacion"
                :item-text="'nombre'"
                :item-value="'idTipoAsignacion'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Tipo de Asignación"
                filled
                color="red"
                required
              ></v-select>
              <!-- Empleado -->
              <v-text-field
                v-model="saveItems.idEmpleado"
                :rules="id_employeeRules"
                label="Id Empleado"
                filled
                color="red"
                required
                @keypress="isNumber($event)"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="8"
              ></v-text-field>
              <v-text-field
                v-model="saveItems.nombreEmpleado"
                label="Nombre(s) del Empleado"
                filled
                color="red"
                disabled
                required
              ></v-text-field>
              <v-text-field
                v-model="saveItems.apellidoPEmpleado"
                label="Apellido Paterno del Empleado"
                filled
                color="red"
                disabled
                required
              ></v-text-field>
              <v-text-field
                v-model="saveItems.apellidoMEmpleado"
                label="Apellido Materno del Empleado"
                filled
                color="red"
                disabled
                required
              ></v-text-field>
              <v-text-field
                v-model="saveItems.mailEmpleado"
                label="Email del Empleado"
                :rules="emailRules"
                filled
                color="red"
                disabled
                required
              ></v-text-field>
              <!-- Área -->
              <v-select
                v-model="saveItems.idArea"
                :items="idArea"
                :item-text="'nombre'"
                :item-value="'idArea'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Área"
                filled
                color="red"
                required
              ></v-select>
              <!-- Ubicación -->
              <v-select
                v-model="saveItems.idCatalogoUbicacion"
                :items="idCatalogoUbicacion"
                :item-text="'nombre'"
                :item-value="'idCatalogoUbicacion'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Ubicación"
                filled
                color="red"
                required
              ></v-select>
              <!-- Cargo -->
              <v-text-field
                v-model="saveItems.cargo"
                :rules="[(v) => !!v || 'Cargo es requerido']"
                label="Cargo"
                filled
                color="red"
                required
              ></v-text-field>
              <!-- Plan de Renta -->
              <v-text-field
              v-model="saveItems.planRenta"
              :rules="[(v) => !!v || 'Plan es requerido']"
              label="Celular y Plan de Renta Sugerido"
              filled
              color="red"
              required
              ></v-text-field>
              <!-- Notas -->
              <v-textarea
                background-color="red lighten-5"
                :counter="200"
                :rules="[
                  (v) =>
                    (v && v.length <= 200) ||
                    'Debe contener menos de 200 carácteres',
                ]"
                v-model="saveItems.notas"
                filled
                color="red"
                name="input-7-4"
                label="Notas"
                no-resize
              ></v-textarea>
          </v-col>
        </v-row>
      </v-container>
      <v-btn v-bind:disabled="!saveItems.planRenta" color="success" class="mr-4" @click="save()"> Enviar </v-btn>
      <v-btn color="error" class="mr-4" @click="close()"> Cancelar </v-btn>
      <!-- <v-btn color="warning"> Guardar </v-btn> -->
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: true,
    name: "",
    dialog_Cel: "",
    maxNumbers: 8,
    idCatalogoEstadoEquipo: [],
    idTipoAsignacion: [],
    idArea: [],
    idCatalogoUbicacion: [],
    headers: [
      {
        text: "Id",
        align: "start",
        sortable: false,
        value: "IdSolicitudFormCel",
        // value: "IdSolicitudFormPrueba",
      },
      // { text: "Id_Aplicante", value: "idAplicante" },
      // { text: "Acción", value: "actions", sortable: false },
    ],
    saveIndex: -1,
    saveItems: {
      idCatalogoTipoSolicitud: "2",
      idAplicante: "",
      nombreAplicante: "Prueba",
      nombreAprobador: "",
      idCatalogoEstadoEquipo: "",
      idTipoAsignacion: "",
      idEmpleado: "",
      nombreEmpleado: "Prueba",
      apellidoPEmpleado: "Prueba",
      apellidoMEmpleado: "Prueba",
      mailEmpleado: "prueba@mail.com",
      idArea: "",
      idCatalogoUbicacion: "",
      cargo: "",
      planRenta: "",
      notas: "",
      fecha: new Date().toISOString().slice(0, 10),
      estatus: true,
    },
    id_applicantRules: [
      (v) => !!v || "Id del Aplicante es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Aplicante debe tener menos de 8 carácteres",
    ],
    id_employeeRules: [
      (v) => !!v || "Id del Empleado es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Empleado debe tener menos de 8 carácteres",
    ],
  }),

  methods: {
    close() {
      this.dialog = false;
    },
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    //Consumo de APIs para el llenado de los Selects
    getCatalogoEstadoEquipo() {
      let vue = this;
      vue.axios
        .get("api/CatalogoEstadoEquipo/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoEstadoEquipo = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoTipoAsignacion() {
      let vue = this;
      vue.axios
        .get("api/CatalogoTipoAsignacion/Get")
        .then((response) => {
          if (response.data.success) {
            this.idTipoAsignacion = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoArea() {
      let vue = this;
      vue.axios
        .get("api/CatalogoArea/Get")
        .then((response) => {
          if (response.data.success) {
            this.idArea = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoUbicacion() {
      let vue = this;
      vue.axios
        .get("api/CatalogoUbicacion/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoUbicacion = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    save() {
      try {
        var vue = this;
        // vue.$store.dispatch("setIsBusy", true);
        if (vue.saveIndex > -1) {
          vue.saveData(vue.saveItems, 0, vue.saveIndex);
        } else {
          vue.saveData(vue.saveItems, 1, vue.saveIndex);
        }
        vue.close();
      } catch (e) {
        // vue.$store.dispatch("setIsBusy", false);
        // this.$root.Mensaje(e.message, "error");
        console.log(e);
      }
    },
    saveData(row, n) {
      var vue = this;
      var obj = row;
      vue.axios
        // .post("api/SolicitudFormPrueba/save", obj)
        .post("api/SolicitudFormCel/save", obj)
        .then((r) => {
          if (r.data.success) {
            // vue.$store.dispatch("setIsBusy", false);
            // vue.$root.Mensaje(r.data.message, "success");
            var newItem = r.data.data;
            if (n == 1) {
              console.log(newItem);
              // vue.listObject.push(newItem);
            }
            // else {
            //   Object.assign(vue.listObject[indice], newItem);
            // }
          } else {
            // vue.$store.dispatch("setIsBusy", false);
            // vue.$root.Mensaje(r.data.message, "error");
          }
        })
        .catch((e) => {
          // vue.$store.dispatch("setIsBusy", false);
          // this.$root.Mensaje(e.message, "error");
          console.log(e);
        });
    },
    deleteItem(item) {
      this.editedIndex = this.listObject.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      try {
        var me = this;
        me.$store.dispatch("setIsBusy", true);
        var row = me.listObject[me.editedIndex];

        var id = row.idSolicitudFormCel;

        me.axios
          .post("api/SolicitudFormCel/delete?id=" + id)
          .then((r) => {
            if (r.data.success) {
              me.$store.dispatch("setIsBusy", false);
              me.$root.Mensaje(r.data.message, "success");
            } else {
              me.$store.dispatch("setIsBusy", false);
              me.$root.Mensaje(r.data.message, "error");
            }
          })
          .catch((e) => {
            me.$store.dispatch("setIsBusy", false);
            this.$root.Mensaje(e.message, "error");
            console.log(e);
          });
        console.log(this.editedIndex);
        var el = this.listObject[this.editedIndex];
        if (el.estatus == true) el.estatus = false;
        else el.estatus = true;

        this.closeDelete();
      } catch (e) {
        this.$root.Mensaje(e.message, "error");
        me.$store.dispatch("setIsBusy", false);
        console.log(e);
      }
    },
  },
  mounted() {
    this.getCatalogoEstadoEquipo();
    this.getCatalogoTipoAsignacion();
    this.getCatalogoArea();
    this.getCatalogoUbicacion();
  },
};
</script>

<style lang="scss" scoped></style>
