<template>
  <v-dialog
    v-model="dialog"
    width="500"
    transition="dialog-bottom-transition"
    persistent
  >
    <v-card class="pa-md-8 mx-lg-auto">
      <i
        class="fa-solid fa-circle-xmark d-flex justify-end mb-6 fa-xl"
        v-if="!dialog_EsMz"
        @click="close()"
        style="color: red"
      ></i>
      <v-app-bar color="red accent-4 white--text">
        <h4>
          Acceso Eslabón y Mizar
          <i class="fa-solid fa-users"></i>
        </h4>
      </v-app-bar>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="12">
            <!-- Solicitante -->
            <v-text-field
              v-model="saveItems.idAplicante"
              :rules="id_applicantRules"
              label="Id del Solicitante"
              required
              filled
              color="red"
              @keypress="isNumber($event)"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="8"
            ></v-text-field>
            <v-text-field
              v-model="saveItems.nombreAplicante"
              label="Solicitante"
              filled
              color="red"
              required
              disabled
            ></v-text-field>
            <!-- Área -->
            <v-select
              v-model="saveItems.idArea"
              :items="idArea"
              :item-text="'nombre'"
              :item-value="'idArea'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Área"
              filled
              color="red"
              required
            ></v-select>
            <!-- Aprobador -->
            <v-text-field
              v-model="saveItems.nombreAprobador"
              :rules="[(v) => !!v || 'Aprobador es requerido']"
              label="Aprobador (Director del Área)"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Empleado -->
            <v-text-field
              v-model="saveItems.idEmpleado"
              :rules="id_employeeRules"
              label="Id Empleado"
              filled
              color="red"
              required
              @keypress="isNumber($event)"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="8"
            ></v-text-field>
            <v-text-field
              v-model="saveItems.nombreEmpleado"
              label="Nombre(s) del Empleado"
              filled
              color="red"
              disabled
              required
            ></v-text-field>
            <v-text-field
              v-model="saveItems.apellidoPEmpleado"
              label="Apellido Paterno del Empleado"
              filled
              color="red"
              disabled
              required
            ></v-text-field>
            <v-text-field
              v-model="saveItems.apellidoMEmpleado"
              label="Apellido Materno del Empleado"
              filled
              color="red"
              disabled
              required
            ></v-text-field>
            <v-text-field
              v-model="saveItems.mailEmpleado"
              label="Email del Empleado"
              :rules="emailRules"
              filled
              color="red"
              disabled
              required
            ></v-text-field>
            <!-- Puesto -->
            <v-select
              v-model="saveItems.idCatalogoPosicion"
              :items="idCatalogoPosicion"
              :item-text="'nombre'"
              :item-value="'idCatalogoPosicion'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Puesto"
              filled
              color="red"
              required
            ></v-select>
            <!-- Ubicación -->
            <v-select
              v-model="saveItems.idCatalogoUbicacion"
              :items="idCatalogoUbicacion"
              :item-text="'nombre'"
              :item-value="'idCatalogoUbicacion'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Ubicación"
              filled
              color="red"
              required
            ></v-select>
            <!-- Jefe Directo -->
            <v-text-field
              v-model="saveItems.nombreJefeDirecto"
              :rules="[(v) => !!v || 'Jefe Directo es requerido']"
              label="Jefe Directo"
              filled
              color="red"
              required
            ></v-text-field>
            <!-- Roles de Acceso -->
            <v-select
              v-model="RolesAccesos_selected"
              :items="RolesAcceso"
              :item-text="'nombre'"
              :item-value="'idCatalogoRolesAcceso'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Roles de Acceso"
              multiple
              filled
              color="red"
              required
            ></v-select>
            <!-- Empresas -->
            <v-select
              v-model="saveItems.idCatalogoEmpresas"
              :items="idCatalogoEmpresas"
              :item-text="'nombre'"
              :item-value="'idCatalogoEmpresas'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Seleccionar Empresas"
              persistent-hint
              filled
              color="red"
              required
            ></v-select>
            <!-- Sistemas a Instalar -->
            <h6>
              Sistemas a Instalar
              <i class="fa-solid fa-computer fa-beat"></i>
            </h6>
            <v-card class="d-flex justify-space-around mb-6" flat tile>
              <v-checkbox
                v-model="saveItems.eslabon"
                label="Eslabón"
                color="red"
                :value="true"
                hide-details
              ></v-checkbox>
              <v-checkbox
                v-model="saveItems.mizar"
                label="Mizar"
                color="red"
                :value="true"
                hide-details
              ></v-checkbox>
            </v-card>
            <!-- Eslabón - Grupo de Usuarios -->
            <v-text-field
              v-model="saveItems.eslabonGrupo"
              :rules="[(v) => !!v || 'Grupo es requerido']"
              label="Eslabón - Grupo de Usuarios"
              filled
              color="red"
              required
              v-if="saveItems.eslabon"
            ></v-text-field>
            <!-- Mizar - Grupo de Usuarios -->
            <v-text-field
              v-model="saveItems.mizarGrupo"
              :rules="[(v) => !!v || 'Grupo es requerido']"
              label="Mizar - Grupo de Usuarios"
              filled
              color="red"
              required
              v-if="saveItems.mizar"
            ></v-text-field>
            <!-- Mizar - Módulos -->
            <v-select
              v-model="MizarModulos_selected"
              :items="MizarModulos"
              :item-text="'nombre'"
              :item-value="'idCatalogoMizarModulos'"
              :rules="[(v) => !!v || 'Selecciona un campo']"
              label="Mizar - Módulos"
              multiple
              filled
              color="red"
              v-if="saveItems.mizar"
            ></v-select>
            <!-- Rep. De Vistas -->
            <v-checkbox
              v-model="saveItems.repVistas"
              label="Rep. De Vistas"
              color="red"
              :value="true"
              hide-details
              required
            ></v-checkbox>
            <!-- SP CFDI -->
            <v-checkbox
              v-model="saveItems.cfdi"
              label="SP CFDI"
              color="red"
              :value="true"
              hide-details
              required
            ></v-checkbox
            ><br />
            <!-- Notas -->
            <v-textarea
              background-color="red lighten-5"
              :counter="200"
              :rules="[
                (v) =>
                  (v && v.length <= 200) ||
                  'Debe contener menos de 200 carácteres',
              ]"
              v-model="saveItems.notas"
              filled
              color="red"
              name="input-7-4"
              label="Notas"
              no-resize
            ></v-textarea>
          </v-col>
        </v-row>
      </v-container>
      <v-btn
        v-bind:disabled="!saveItems.nombreJefeDirecto"
        color="success"
        class="mr-4"
        @click="save()"
      >
        Enviar
      </v-btn>
      <v-btn color="error" class="mr-4" @click="close()"> Cancelar </v-btn>
      <!-- <v-btn color="warning"> Guardar </v-btn> -->
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: true,
    dialog_EsMz: "",
    maxNumbers: 8,
    idCatalogoEmpresas: [],
    idArea: [],
    idCatalogoUbicacion: [],
    idCatalogoPosicion: [],
    RolesAcceso: [],
    RolesAccesos_selected: [],
    MizarModulos: [],
    MizarModulos_selected: [],
    headers: [
      {
        text: "Id",
        align: "start",
        sortable: false,
        value: "SolicitudFormEsMz",
        // value: "IdSolicitudFormPrueba",
      },
      // { text: "Id_Aplicante", value: "idAplicante" },
      // { text: "Acción", value: "actions", sortable: false },
    ],
    saveIndex: -1,
    saveItems: {
      idCatalogoTipoSolicitud: "5",
      idAplicante: "",
      nombreAplicante: "Prueba",
      idArea: "",
      nombreAprobador: "",
      idEmpleado: "",
      nombreEmpleado: "Prueba",
      apellidoPEmpleado: "Prueba",
      apellidoMEmpleado: "Prueba",
      mailEmpleado: "Prueba@mail.com",
      idCatalogoPosicion: "",
      idCatalogoUbicacion: "",
      nombreJefeDirecto: "",
      idCatalogoRolesAcceso: "",
      idCatalogoEmpresas: "",
      eslabon: false,
      eslabonGrupo: "",
      mizar: false,
      mizarGrupo: "",
      idCatalogoMizarModulos: "",
      repVistas: false,
      cfdi: false,
      notas: "",
      fecha: new Date().toISOString().slice(0, 10),
      estatus: true,
    },

    id_applicantRules: [
      (v) => !!v || "Id del Aplicante es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Aplicante debe tener menos de 8 carácteres",
    ],
    id_employeeRules: [
      (v) => !!v || "Id del Empleado es requerido",
      (v) =>
        (v && v.length <= 8) ||
        "Id del Empleado debe tener menos de 8 carácteres",
    ],
    emailRules: [
      (v) => !!v || "Este campo es obligatorio *",
      (v) => /.+@.+\..+/.test(v) || "E-mail inválido",
    ],
  }),

  methods: {
    close() {
      this.dialog = false;
    },
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    getCatalogoRolesAcceso() {
      let vue = this;
      vue.axios
        .get("api/CatalogoRolesAcceso/Get")
        .then((response) => {
          if (response.data.success) {
            this.RolesAcceso = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoArea() {
      let vue = this;
      vue.axios
        .get("api/CatalogoArea/Get")
        .then((response) => {
          if (response.data.success) {
            this.idArea = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoUbicacion() {
      let vue = this;
      vue.axios
        .get("api/CatalogoUbicacion/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoUbicacion = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoMizarModulo() {
      let vue = this;
      vue.axios
        .get("api/CatalogoMizarModulo/Get")
        .then((response) => {
          if (response.data.success) {
            this.MizarModulos = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoEmpresas() {
      let vue = this;
      vue.axios
        .get("api/CatalogoEmpresa/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoEmpresas = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    getCatalogoPosicion() {
      let vue = this;
      vue.axios
        .get("api/CatalogoPosicion/Get")
        .then((response) => {
          if (response.data.success) {
            this.idCatalogoPosicion = response.data.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    save() {
      try {
        var vue = this;
        vue.saveItems.idCatalogoMizarModulos =
          vue.MizarModulos_selected.join(",");
        vue.saveItems.idCatalogoRolesAcceso =
          vue.RolesAccesos_selected.join(",");
        // vue.$store.dispatch("setIsBusy", true);
        if (vue.saveIndex > -1) {
          vue.saveData(vue.saveItems, 0, vue.saveIndex);
        } else {
          vue.saveData(vue.saveItems, 1, vue.saveIndex);
        }
        vue.close();
      } catch (e) {
        // vue.$store.dispatch("setIsBusy", false);
        // this.$root.Mensaje(e.message, "error");
        console.log(e);
      }
    },
    saveData(row) {
      var vue = this;
      var obj = row;
      vue.axios
        .post("api/SolicitudFormEsMz/save", obj)
        .then((r) => {
          console.log(r);
          // if (r.data.success) {
          //   // vue.$store.dispatch("setIsBusy", false);
          //   // vue.$root.Mensaje(r.data.message, "success");
          //   var newItem = r.data.data;
          //   if (n == 1) {
          //     console.log(newItem);
          //     // vue.listObject.push(newItem);
          //   }
          //   // else {
          //   //   Object.assign(vue.listObject[indice], newItem);
          //   // }
          // } else {
          //   // vue.$store.dispatch("setIsBusy", false);
          //   // vue.$root.Mensaje(r.data.message, "error");
          // }
        })
        .catch((e) => {
          // vue.$store.dispatch("setIsBusy", false);
          // this.$root.Mensaje(e.message, "error");
          console.log(e);
        });
    },
    deleteItem(item) {
      this.editedIndex = this.listObject.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      try {
        var me = this;
        me.$store.dispatch("setIsBusy", true);
        var row = me.listObject[me.editedIndex];

        var id = row.idSolicitudFormEsMz;

        me.axios
          .post("api/SolicitudFormEsMz/delete?id=" + id)
          .then((r) => {
            if (r.data.success) {
              me.$store.dispatch("setIsBusy", false);
              me.$root.Mensaje(r.data.message, "success");
            } else {
              me.$store.dispatch("setIsBusy", false);
              me.$root.Mensaje(r.data.message, "error");
            }
          })
          .catch((e) => {
            me.$store.dispatch("setIsBusy", false);
            this.$root.Mensaje(e.message, "error");
            console.log(e);
          });
        console.log(this.editedIndex);
        var el = this.listObject[this.editedIndex];
        if (el.estatus == true) el.estatus = false;
        else el.estatus = true;

        this.closeDelete();
      } catch (e) {
        this.$root.Mensaje(e.message, "error");
        me.$store.dispatch("setIsBusy", false);
        console.log(e);
      }
    },
  },
  mounted() {
    this.getCatalogoArea();
    this.getCatalogoUbicacion();
    this.getCatalogoRolesAcceso();
    this.getCatalogoMizarModulo();
    this.getCatalogoPosicion();
    this.getCatalogoEmpresas();
  },
};
</script>

<style lang="scss" scoped></style>
