<!-- <template>
  <div>
    <h1>{{ title }}</h1>
    <input type="text" v-model="newFruit" />
    <button @click="addFruit">Add Fruit</button>
    <ul>
      <li v-for="(fruit, index) of fruits" :key="index">
      <input type="text" v-model.number="fruit.quantity">
      - {{fruit.name}}
      <button class="b-quantity" @click="fruit.quantity++">+</button>
      <button class="b-quantity" @click="fruit.quantity--">-</button>
      <span v-if="fruit.quantity === 0"> - Sin Stock</span>
      </li>
    </ul>
    <h4>TOTAL: {{total}}</h4>
  </div>
</template>

<script>
export default {
  name: "app_Fruta",
  data() {
    return {
      title: "Frutas con Vue",
      fruits: [
        { name: "Pera", quantity: 21 },
        { name: "Mandarina", quantity: 0 },
        { name: "Chabacano", quantity: 23 },
      ],
      newFruit: '',
      total: 0
    }
  },
  methods:{
      addFruit(){
        this.fruits.push(
          {
            name: this.newFruit, quantity: 0
          })
        this.newFruit = ''
      }
    },
    computed: {
      totalQuantity(){
        this.total = 0;
        for(fruit of this.fruits){
          this.total = this.total + fruit.quantity;
        }
        return this.total;
      }
    }
};
</script>

<style scoped>
input{
  border: 1px solid;
}
.b-quantity{
  border: 1px solid;
  width: 10px;
}
</style> -->
