
              <!-- Jefe -->
              <v-text-field
                v-model="name_boss"
                :rules="[(v) => !!v || 'Aprobador es requerida']"
                label="Aprobador (Director del Área)"
                filled
                color="red"
                required
              ></v-text-field>
              <!-- Estado de Equipo -->
              <v-select
                v-model="IdCatalogoEstadoEquipo"
                :items="IdCatalogoEstadoEquipo"
                :item-text="'nombre'"
                :item-value="'idCatalogoEstadoEquipo'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Estado de Equipo"
                filled
                color="red"
                required
              ></v-select>
              <!-- Tipo de Asignación -->
              <v-select
                v-model="IdTipoAsignacion"
                :items="IdTipoAsignacion"
                :item-text="'nombre'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Tipo de Asignación"
                filled
                color="red"
                required
              ></v-select>
              <!-- Empleado -->
              <v-text-field
                v-model="id_employee"
                :rules="id_employeeRules"
                label="Id Empleado"
                filled
                color="red"
                required
              ></v-text-field>
              <v-text-field
                v-model="name_employee"
                label="Nombres del Empleado"
                filled
                color="red"
                readonly
                disabled
              ></v-text-field>
              <v-text-field
                v-model="ap_employee"
                label="Apellido Paterno del Empleado"
                filled
                color="red"
                readonly
                disabled
              ></v-text-field>
              <v-text-field
                v-model="am_employee"
                label="Apellido Materno del Empleado"
                filled
                color="red"
                readonly
                disabled
              ></v-text-field>
              <v-text-field
                v-model="mail_employee"
                label="Email del Empleado"
                filled
                color="red"
                readonly
              ></v-text-field>
              <!-- Área -->
              <v-select
                v-model="IdArea"
                :items="IdArea"
                :item-text="'nombre'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Área"
                filled
                color="red"
                required
              ></v-select>
              <!-- Ubicación -->
              <v-select
                v-model="IdCatalogoUbicacion"
                :items="IdCatalogoUbicacion"
                :item-text="'nombre'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Ubicación"
                filled
                color="red"
                required
              ></v-select>
              <!-- Cargo -->
              <v-text-field
                v-model="cargo"
                :rules="[(v) => !!v || 'Cargo es requerido']"
                label="Cargo"
                filled
                color="red"
                required
              ></v-text-field>
              <!-- Software -->
              <v-text-field
                v-model="software"
                :rules="[(v) => !!v || 'Softwares son requeridos']"
                label="Software a Instalar"
                filled
                color="red"
                required
              ></v-text-field>
              <!-- Software Eslabón / Mizar  -->
              <h6>
                Software Eslabón / Mizar
                <i class="fa-solid fa-computer fa-beat"></i>
              </h6>
              <v-card class="d-flex justify-space-around mb-6" flat tile>
                <v-checkbox
                  v-model="ckb"
                  label="Eslabón"
                  color="red"
                  value="1"
                  hide-details
                ></v-checkbox>
                <v-checkbox
                  v-model="disableSelect"
                  label="Mizar"
                  color="red"
                  value="2"
                  hide-details
                ></v-checkbox>
              </v-card>
              <!-- Software Mizar Modulos  -->
              <v-select
                v-model="IdCatalogoMizarModulos"
                :items="IdCatalogoMizarModulos"
                :item-text="'nombre'"
                :rules="[(v) => !!v || 'Selecciona un campo']"
                label="Mizar - Módulos"
                multiple
                filled
                color="red"
                required
                v-if="disableSelect"
              ></v-select>
              <!-- Notas -->
              <v-textarea
                background-color="red lighten-5"
                :counter="200"
                :rules="[v => (v && v.length <= 200) || 'Debe contener menos de 200 carácteres']"
                v-model="notes"
                filled
                color="red"
                name="input-7-4"
                label="Notas"
                no-resize
              ></v-textarea>