<template>
  <div>
    <br />
    <h1 class="display-2 text-center">Listado de Tareas</h1>
    <hr>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card st-4">
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control form-control-lg" placeholder="Agregar Tarea" v-model="item">
              <div class="input-group-append">
                <button class="btn btn-success btn-lg" v-on:click="addTarea()">Agregar</button>
              </div>
            </div>
            <br>
            <h4 v-if="listTareas.length == 0">No hay Tareas para realizar</h4>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between" v-for="(item, index) of listTareas" :key="index">
                <span class="cursor" v-on:click="editTarea(item, index)" v-bind:class="{'text-success' : item.state}">
                <i v-bind:class="[item.state ? 'fa-solid fa-circle-check' : 'far fa-circle']"></i>
                </span>
                {{item.name}}
                <span class="text-danger cursor" v-on:click="deleteTarea(index)">
                <i class="fas fa-trash-alt"></i>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TI_Tarea',
    data(){
      return {
      item: '',
      listTareas: []
      }
    },
    methods:{
      addTarea(){
        const item = {
          name: this.item,
          state: false
        }
        this.listTareas.push(item);
        this.item = "";
      },
      deleteTarea(index){
          this.listTareas.splice(index, 1);
      },
      editTarea(item, index){
        this.listTareas[index].state = !item.state;
      }

    }
  }
</script>

<style scoped>

</style>