<!-- <template>
  <div id="app">
    <nav>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </nav>
    <router-view/>
  </div>
</template> -->

<!-- Solicitudes TI NetCore/Vue - Project - Version  3.0 - Last Updated by: Zan - 17/8/22 -->
<template>
  <v-app>
    <v-main>
      <app_Navbar> </app_Navbar>
    </v-main>
      <app_Footer> </app_Footer>
  </v-app>
</template>

<script>
import app_Navbar from "./components/app_Navbar.vue";
import app_Footer from "./components/app_Footer.vue";

export default {
  name: "App",

  components: {
    app_Navbar,
    app_Footer,
  },

  data: () => ({
    //
  }),
};
</script>

